.flex(@direction, @justify-content, @align-items) {
  display: flex;
  flex-direction: @direction;
  justify-content: @justify-content;
  align-items: @align-items;
}

.btn(@bg) {
  border-radius: 0.7em;
  margin-right: 2em;
  padding: 0.7em 2em;
  background-color: @bg;
  font-size: 2rem;
  color: @main-bg;
}